@model IEnumerable<AnThanhLam.Web.Models.ProductCategoryViewModel>

<select class="woof_select woof_select_tire_sizes woof_select_tire_sizes_0" name="categoryId" style="display: block">
    <option value="0"> Chọn loại xe</option>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <option value=" @item.ID"> @item.Name </option>
        }

    }

</select>
