@model IEnumerable<AnThanhLam.Web.Models.SizeViewModel>

<select class="woof_select woof_select_tire_sizes woof_select_tire_sizes_1" name="sizeId" style="display: block">
    <option value="0"> Chọn cỡ bánh</option>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <option value="@item.ID"> @item.Name </option>
        }
    }
</select>

