@model IEnumerable<AnThanhLam.Web.Models.ProductCategoryViewModel>

<aside id="sidebar-shop" class="widget-area site-sidebar style-2" role="complementary">
    <section id="tz_categories-3" class="alt-style widget widget_tz_categories">
        <h3 class="widget-title" itemprop="name">
            <span>Categories</span>
        </h3>
        <ul class="pt-categories">
            <li class="cat-item cat-item-117 cat-parent">
                <a href="https://chromium.themes.zone/tires/product-category/wheels-and-tires/">Wheels and Tires</a>
                <a href="#children-of-117" class="show-children collapsed" data-toggle="collapse" aria-controls="children-of-117" aria-expanded="false">
                </a> <span class="count">7</span>
                <ul id="children-of-117" class="children collapse" aria-expanded="false">
                    <li class="cat-item cat-item-224">
                        <a href="https://chromium.themes.zone/tires/product-category/wheels-and-tires/wheel-covers/">Wheel Covers</a> <span class="count">6</span>
                    </li>
                    <li class="cat-item cat-item-222">
                        <a href="https://chromium.themes.zone/tires/product-category/wheels-and-tires/tires/">Tires</a> <span class="count">3</span>
                    </li>
                    <li class="cat-item cat-item-221">
                        <a href="https://chromium.themes.zone/tires/product-category/wheels-and-tires/tire-chains/">Tire Chains</a> <span class="count">6</span>
                    </li>
                    <li class="cat-item cat-item-208">
                        <a href="https://chromium.themes.zone/tires/product-category/wheels-and-tires/factory-wheels/">Factory Wheels</a> <span class="count">3</span>
                    </li>
                    <li class="cat-item cat-item-203">
                        <a href="https://chromium.themes.zone/tires/product-category/wheels-and-tires/custom-wheels/">Custom Wheels</a> <span class="count">7</span>
                    </li>
                </ul>
            </li>
            <li class="cat-item cat-item-57">
                <a href="https://chromium.themes.zone/tires/product-category/truck-tires/">Truck Tires</a> <span class="count">8</span>
            </li>
            <li class="cat-item cat-item-66 cat-parent">
                <a href="https://chromium.themes.zone/tires/product-category/trailer-tires/">Trailer tires</a>
                <a href="#children-of-66" class="show-children collapsed" data-toggle="collapse" aria-controls="children-of-66" aria-expanded="false">
                </a> <span class="count">7</span>
                <ul id="children-of-66" class="children collapse" aria-expanded="false">
                    <li class="cat-item cat-item-102">
                        <a href="https://chromium.themes.zone/tires/product-category/trailer-tires/winter-wheels/">Winter Wheels</a> <span class="count">7</span>
                    </li>
                    <li class="cat-item cat-item-196">
                        <a href="https://chromium.themes.zone/tires/product-category/trailer-tires/wheels/">Wheel</a> <span class="count">7</span>
                    </li>
                    <li class="cat-item cat-item-98">
                        <a href="https://chromium.themes.zone/tires/product-category/trailer-tires/mud-terrain-tires/">Mud Terrain Tires</a> <span class="count">4</span>
                    </li>
                    <li class="cat-item cat-item-103">
                        <a href="https://chromium.themes.zone/tires/product-category/trailer-tires/lawn-garden-tractor-tires/">Lawn and garden Tractor tires</a> <span class="count">6</span>
                    </li>
                    <li class="cat-item cat-item-111">
                        <a href="https://chromium.themes.zone/tires/product-category/trailer-tires/golf-carts-tires/">Golf Carts Tires</a> <span class="count">3</span>
                    </li>
                    <li class="cat-item cat-item-75">
                        <a href="https://chromium.themes.zone/tires/product-category/trailer-tires/all-terrain-tires/">All-Terrain Tires</a> <span class="count">6</span>
                    </li>
                </ul>
            </li>
            <li class="cat-item cat-item-108">
                <a href="https://chromium.themes.zone/tires/product-category/tractor-tires/">Tractor Tires</a> <span class="count">7</span>
            </li>
            <li class="cat-item cat-item-87 cat-parent">
                <a href="https://chromium.themes.zone/tires/product-category/tiller-tires/">Tiller Tires</a>
                <a href="#children-of-87" class="show-children collapsed" data-toggle="collapse" aria-controls="children-of-87" aria-expanded="false">
                </a> <span class="count">5</span>
                <ul id="children-of-87" class="children collapse" aria-expanded="false">
                    <li class="cat-item cat-item-204">
                        <a href="https://chromium.themes.zone/tires/product-category/tiller-tires/tojo-tires/">Tojo Tires</a> <span class="count">5</span>
                    </li>
                    <li class="cat-item cat-item-106">
                        <a href="https://chromium.themes.zone/tires/product-category/tiller-tires/suspension-systems/">Suspension Systems</a> <span class="count">5</span>
                    </li>
                    <li class="cat-item cat-item-219">
                        <a href="https://chromium.themes.zone/tires/product-category/tiller-tires/performance-chips/">Performance Chips</a> <span class="count">5</span>
                    </li>
                    <li class="cat-item cat-item-213">
                        <a href="https://chromium.themes.zone/tires/product-category/tiller-tires/nitro-tires/">Nitro Tires</a> <span class="count">4</span>
                    </li>
                    <li class="cat-item cat-item-207">
                        <a href="https://chromium.themes.zone/tires/product-category/tiller-tires/mishelin-tires/">Mishelin Tires</a> <span class="count">4</span>
                    </li>
                    <li class="cat-item cat-item-195">
                        <a href="https://chromium.themes.zone/tires/product-category/tiller-tires/camper-tires/">Camper Tires</a> <span class="count">5</span>
                    </li>
                </ul>
            </li>
            <li class="cat-item cat-item-15 cat-parent">
                <a href="https://chromium.themes.zone/tires/product-category/uncategorized/">Main Tires</a>
                <a href="#children-of-15" class="show-children collapsed" data-toggle="collapse" aria-controls="children-of-15" aria-expanded="false">
                </a> <span class="count">8</span>
                <ul id="children-of-15" class="children collapse" aria-expanded="false">
                    <li class="cat-item cat-item-211">
                        <a href="https://chromium.themes.zone/tires/product-category/uncategorized/riding-lawn-mower-tires/">Riding Lawn Mower Tires</a> <span class="count">8</span>
                    </li>
                    <li class="cat-item cat-item-96">
                        <a href="https://chromium.themes.zone/tires/product-category/uncategorized/40-inch-tires/">40-inch Tires</a> <span class="count">7</span>
                    </li>
                    <li class="cat-item cat-item-90">
                        <a href="https://chromium.themes.zone/tires/product-category/uncategorized/37-inch-tires/">37-inch Tires</a> <span class="count">7</span>
                    </li>
                    <li class="cat-item cat-item-216">
                        <a href="https://chromium.themes.zone/tires/product-category/uncategorized/35-inch-tires/">35-inch Tires</a> <span class="count">8</span>
                    </li>
                    <li class="cat-item cat-item-214">
                        <a href="https://chromium.themes.zone/tires/product-category/uncategorized/33-inch-tires/">33-inch Tires</a> <span class="count">8</span>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section id="woocommerce_price_filter-1" class="widget woocommerce widget_price_filter">
        <h3 class="widget-title" itemprop="name">
            <span>Price</span>
        </h3>
        <form method="get" action="https://chromium.themes.zone/tires/shop/">
            <div class="price_slider_wrapper">
                <div class="price_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" style="">
                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;">
                    </div>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;">
                    </span>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;">
                    </span>
                </div>
                <div class="price_slider_amount" data-step="10">
                    <input type="text" id="min_price" name="min_price" value="160" data-min="160" placeholder="Min price" style="display: none;"> <input type="text" id="max_price" name="max_price" value="900" data-max="900" placeholder="Max price" style="display: none;"> <button type="submit" class="button">Filter</button>
                    <div class="price_label" style="">
                        Price: <span class="from">£160</span> — <span class="to">£900</span>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </form>
    </section>
</aside>

