@using Microsoft.AspNet.Identity;
<header class="site-header">
    <div class="header-top">
        <div class="top-widgets-left">
            <div id="polylang-2" class="widget widget_polylang">
                <label class="screen-reader-text" for="lang_choice_polylang-2">Chọn ngôn ngữ</label>
                <select name="lang_choice_polylang-2" id="lang_choice_polylang-2">
                    <option value="vi" selected="selected">Tiếng Việt</option>
                    <option value="en">English</option>
                </select>
            </div>
        </div>
        <div class="top-widgets-right">
            <div id="custom_html-2" class="widget_text widget widget_custom_html">
                <div class="textwidget custom-html-widget">
                    T2-T7: <a href="tel:+496170961709" class="tz-white">8:00AM-6:30PM</a>
                </div>
            </div>
            <div id="custom_html-3" class="widget_text widget widget_custom_html">
                <div class="textwidget custom-html-widget">
                    Điện thoại: <a href="tel:+496170961709" class="tz-white">0 (800) 423-754</a>
                </div>
            </div>
            <div id="tz_login_register-1" class="widget widget_tz_login_register">
                <div class="tz-login-heading clickable inline">

                    @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                    {
                        if (Request.IsAuthenticated)
                        {
                            @Html.AntiForgeryToken()
                            <p class="logged-in-as"><span> Hello. @User.Identity.GetUserName()</span></p>
                        }
                        else
                        {
                            <i class="user-icon">
                            </i>
                            <span class="tz-login-actions">
                                <a class="login-button" id="show_login_form" href="/dang-nhap.html">ĐĂNG NHẬP</a>
                                <span class="delimiter">|</span>
                                <a class="login-button" id="show_register_form" href="/dang-ky.html">ĐĂNG KÝ</a>
                            </span>
                        }
                    }
                </div>


                <div class="cart"><a href="/gio-hang.html"><span> </span>GIỎ HÀNG</a></div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>  
    <div class="site-branding">
        <div class="site-logo" itemscope="" itemtype="http://schema.org/Organization">
            <a href="#" rel="home" title="chromium Tires" itemprop="url">
                <img width="392" height="58" src="~/Assets/client/images/logo_tires.png" class="attachment-full size-full" alt="" loading="lazy" srcset="~/Assets/client/images/logo_tires.png 392w, ~/Assets/client/images/logo_tires.-300x44.png 300w, ~/Assets/client/images/logo_tires.-384x58.png 384w, ~/Assets/client/images/logo_tires.-64x9.png 64w" sizes="(max-width: 392px) 100vw, 392px" />
            </a>
        </div>
        <div class="hgroup-sidebar">
            <div id="tz_search-1" class="widget widget_tz_search">
                <div id="search-but" class="tire-search-button"></div>
                <form class="tz-searchform" method="get" action="/tires">
                    <div class="search-close"></div>
                    <input id="s" name="s" type="text" class="search-text" value="" placeholder="tìm kiến theo tên, nhãn hiệu, loại xe..." tabindex="1" />
                    <button id="searchsubmit" class="search-button" title="Find" tabindex="2">
                        <i class="chromium-icon-search-bold" aria-hidden="true">
                        </i>
                    </button>
                </form>
            </div>
            <div id="tz_woo_cart-1" class="widget widget_tz_shopping_cart">
                <div class="heading">
                    <div class="widget-heading">
                        Giỏ hàng <span class="subtotal">
                            <span class="woocommerce-Price-amount amount">
                                <bdi>
                                    <span class="woocommerce-Price-currencySymbol">VND</span>0.00
                                </bdi>
                            </span>
                        </span>
                    </div>
                    <span class="cart-count-wrapper">0</span>
                </div>
                <div class="widget_shopping_cart_content">
                    <h3 class="mini-cart-heading">My Shopping Cart</h3>
                    <p class="woocommerce-mini-cart__empty-message"> Không có sản phẩm nào </p>
                </div>
            </div>
        </div>
        <nav id="logo-navigation" class="logo-group-nav logo-navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"> Menu </button>
            <a class="screen-reader-text skip-link" href="#content">Tiếp tục</a>
            <div id="mega-menu-wrap-logo-group-nav" class="mega-menu-wrap">
                <div class="mega-menu-toggle">
                    <div class="mega-toggle-blocks-left"></div>
                    <div class="mega-toggle-blocks-center">
                        <div class="mega-toggle-block mega-menu-toggle-block mega-toggle-block-1" id="mega-toggle-block-1" tabindex="0">
                            <span class="mega-toggle-label" role="button" aria-expanded="false">
                                <span class="mega-toggle-label-closed">MENU</span>
                                <span class="mega-toggle-label-open">MENU</span>
                            </span>
                        </div>
                    </div>
                    <div class="mega-toggle-blocks-right"></div>
                </div>
                <ul id="mega-menu-logo-group-nav" class="mega-menu max-mega-menu mega-menu-horizontal nav-menu" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-mobile-force-width="false" data-second-click="close" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="768" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100" aria-expanded="false">                   
                    <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-701 mega-current_page_item mega-align-bottom-left mega-menu-flyout mega-menu-item-3591" id="mega-menu-item-3591">
                        <a title="" class="mega-menu-link" href="/" tabindex="0">Trang chủ</a>
                    </li>
                    <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3973">
                        <a class="mega-menu-link" href="/san-pham.html"   tabindex="0">
                            Sản phẩm
                        </a>                        
                    </li>
                    <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-3603" id="mega-menu-item-3603">
                        <a title="" class="mega-menu-link" href="/ve-chung-toi.html" tabindex="0">Giới thiệu</a>
                    </li>
                    <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-3938" id="mega-menu-item-3938">
                        <a class="mega-menu-link" href="/chia-se-kinh-nghiem_pc-2.html" tabindex="0">CHIA SẼ KINH NGHIỆM</a>
                    </li>
                    <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-3593" id="mega-menu-item-3593">
                        <a title="" class="mega-menu-link" href="/lien-he.html" tabindex="0">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="home-header-static-hero-block">
        <div data-elementor-type="section" data-elementor-id="3622" class="elementor elementor-3622" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-bcf833f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bcf833f" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d13ea3e" data-id="d13ea3e" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-847657d elementor-widget elementor-widget-heading" data-id="847657d" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-default"> Mức độ thoải mái mới </h2>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-1da167e elementor-widget elementor-widget-heading" data-id="1da167e" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h3 class="elementor-heading-title elementor-size-default">Đã được kiểm tra độ an toàn </h3>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>


