.elementor-3622 .elementor-element.elementor-element-bcf833f>.elementor-container {
    max-width: 1200px
}

.elementor-3622 .elementor-element.elementor-element-bcf833f {
    margin-top: 100px;
    margin-bottom: 240px
}

.elementor-3622 .elementor-element.elementor-element-847657d {
    text-align: left
}

.elementor-3622 .elementor-element.elementor-element-847657d .elementor-heading-title {
    color: #fff;
    font-family: "Rubik", Sans-serif;
    font-size: 48px;
    font-weight: 500
}

.elementor-3622 .elementor-element.elementor-element-1da167e .elementor-heading-title {
    color: #fff;
    font-family: "Rubik", Sans-serif;
    font-size: 48px;
    font-weight: 300
}

.elementor-3622 .elementor-element.elementor-element-1da167e>.elementor-widget-container {
    margin: -14px 0 0
}

.elementor-3622 .elementor-element.elementor-element-e2bfeb2 {
    color: #fff;
    font-family: "Rubik", Sans-serif;
    font-size: 19px;
    font-weight: 400
}

.elementor-3622 .elementor-element.elementor-element-e2bfeb2>.elementor-widget-container {
    margin: 10px 0 0
}