.elementor-701 .elementor-element.elementor-element-9ff1f26>.elementor-container {
    max-width: 1230px
}

.elementor-701 .elementor-element.elementor-element-9ff1f26 {
    margin-top: 50px;
    margin-bottom: 20px
}

.elementor-701 .elementor-element.elementor-element-bc2ff3b .main-caption {
    top: 30px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-bc2ff3b .banner-button {
    top: 100px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-bb6cb1f .main-caption {
    top: 30px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-bb6cb1f .banner-button {
    top: 100px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-85d1588 .main-caption {
    top: 30px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-85d1588 .banner-button {
    top: 100px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-5de2c7f .main-caption {
    top: 30px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-5de2c7f .banner-button {
    top: 100px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-c7e8d61 .main-caption {
    top: 30px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-c7e8d61 .banner-button {
    top: 100px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-b284ede .main-caption {
    top: 30px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-b284ede .banner-button {
    top: 100px;
    left: 40px
}

.elementor-701 .elementor-element.elementor-element-6afc409b {
    margin-top: 40px;
    margin-bottom: 40px
}

.elementor-701 .elementor-element.elementor-element-95f9d7a>.elementor-element-populated {
    padding: 0
}

.elementor-701 .elementor-element.elementor-element-e34d45f:not(.elementor-motion-effects-element-type-background), .elementor-701 .elementor-element.elementor-element-e34d45f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #242424;
    background-image: url("../images/splash_text_tire.jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain
}

.elementor-701 .elementor-element.elementor-element-e34d45f {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-701 .elementor-element.elementor-element-e34d45f>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-701 .elementor-element.elementor-element-6e27a13 {
    margin-top: 80px;
    margin-bottom: 80px
}

.elementor-701 .elementor-element.elementor-element-b155176 .elementor-heading-title {
    color: #fff;
    font-size: 38px;
    font-weight: 300
}

.elementor-701 .elementor-element.elementor-element-825928c {
    color: #fff;
    font-size: 17px
}

.elementor-701 .elementor-element.elementor-element-e252305:not(.elementor-motion-effects-element-type-background), .elementor-701 .elementor-element.elementor-element-e252305 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #e94141;
    background-image: url("../images/tires_mark.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain
}

.elementor-701 .elementor-element.elementor-element-e252305 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-701 .elementor-element.elementor-element-e252305>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-701 .elementor-element.elementor-element-dc2d896 {
    margin-top: 60px;
    margin-bottom: 60px
}

.elementor-bc-flex-widget .elementor-701 .elementor-element.elementor-element-1232116.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-1232116.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-97a6d33 .elementor-heading-title {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.25em
}

.elementor-701 .elementor-element.elementor-element-4414065>.elementor-element-populated {
    padding: 0
}

.elementor-701 .elementor-element.elementor-element-28d9c97 .elementor-swiper-button.elementor-swiper-button-prev, .elementor-701 .elementor-element.elementor-element-28d9c97 .elementor-swiper-button.elementor-swiper-button-next {
    color: #fff
}

.elementor-701 .elementor-element.elementor-element-b5452eb {
    margin-top: 70px;
    margin-bottom: 0
}

.elementor-701 .elementor-element.elementor-element-f261e55 .elementor-heading-title {
    color: #212121;
    font-size: 30px;
    font-weight: 300
}

.elementor-701 .elementor-element.elementor-element-09f81ad {
    margin-top: 20px;
    margin-bottom: 0
}

.elementor-701 .elementor-element.elementor-element-bdc2adf.elementor-position-right .elementor-image-box-img {
    margin-left: 14px
}

.elementor-701 .elementor-element.elementor-element-bdc2adf.elementor-position-left .elementor-image-box-img {
    margin-right: 14px
}

.elementor-701 .elementor-element.elementor-element-bdc2adf.elementor-position-top .elementor-image-box-img {
    margin-bottom: 14px
}

.elementor-701 .elementor-element.elementor-element-bdc2adf .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-701 .elementor-element.elementor-element-bdc2adf .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-701 .elementor-element.elementor-element-bdc2adf .elementor-image-box-title {
    margin-bottom: 10px
}

.elementor-701 .elementor-element.elementor-element-bdc2adf .elementor-image-box-content .elementor-image-box-title {
    color: #212121;
    font-size: 18px
}

.elementor-701 .elementor-element.elementor-element-bdc2adf>.elementor-widget-container {
    padding: 15px 20px 20px;
    background-color: #fff
}

.elementor-bc-flex-widget .elementor-701 .elementor-element.elementor-element-bc96080.elementor-column .elementor-column-wrap {
    align-items: flex-start
}

.elementor-701 .elementor-element.elementor-element-bc96080.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-701 .elementor-element.elementor-element-bc96080>.elementor-element-populated {
    text-align: left
}

.elementor-701 .elementor-element.elementor-element-2bd55c5.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-701 .elementor-element.elementor-element-2bd55c5.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-701 .elementor-element.elementor-element-2bd55c5.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-701 .elementor-element.elementor-element-2bd55c5 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-701 .elementor-element.elementor-element-2bd55c5 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-701 .elementor-element.elementor-element-2bd55c5 .elementor-image-box-title {
    margin-bottom: 10px
}

.elementor-701 .elementor-element.elementor-element-2bd55c5 .elementor-image-box-content .elementor-image-box-title {
    color: #212121;
    font-size: 18px
}

.elementor-701 .elementor-element.elementor-element-2bd55c5>.elementor-widget-container {
    padding: 15px 20px 20px;
    background-color: #fff
}

.elementor-701 .elementor-element.elementor-element-a7ae9cb.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-701 .elementor-element.elementor-element-a7ae9cb.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-701 .elementor-element.elementor-element-a7ae9cb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-701 .elementor-element.elementor-element-a7ae9cb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-701 .elementor-element.elementor-element-a7ae9cb .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-701 .elementor-element.elementor-element-a7ae9cb .elementor-image-box-title {
    margin-bottom: 10px
}

.elementor-701 .elementor-element.elementor-element-a7ae9cb .elementor-image-box-content .elementor-image-box-title {
    color: #212121;
    font-size: 18px
}

.elementor-701 .elementor-element.elementor-element-a7ae9cb>.elementor-widget-container {
    padding: 15px 20px 20px;
    background-color: #fff
}

.elementor-701 .elementor-element.elementor-element-fc4b3bd {
    margin-top: 80px;
    margin-bottom: 80px
}

.elementor-701 .elementor-element.elementor-element-dc158e1 .main-caption {
    top: 35px;
    left: 60px
}

.elementor-701 .elementor-element.elementor-element-dc158e1 .secondary-caption {
    top: 126px;
    left: 80px
}

.elementor-701 .elementor-element.elementor-element-dc158e1 .banner-button {
    top: 170px;
    left: 150px
}

.elementor-701 .elementor-element.elementor-element-235ab04>.elementor-container {
    max-width: 1200px
}

.elementor-701 .elementor-element.elementor-element-235ab04>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-235ab04:not(.elementor-motion-effects-element-type-background), .elementor-701 .elementor-element.elementor-element-235ab04 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #e94141;    
    background-image: url("images/tires_mark.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain
}

.elementor-701 .elementor-element.elementor-element-235ab04 {
    border-style: solid;
    border-width: 0;
    border-color: #ebebeb;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 30px;
    margin-bottom: -66px;
    padding: 38px 20px 34px
}

.elementor-701 .elementor-element.elementor-element-235ab04>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-701 .elementor-element.elementor-element-ed22f3b.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-ed22f3b.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-ed22f3b>.elementor-element-populated {
    padding: 0 15px
}

.elementor-701 .elementor-element.elementor-element-a3b5fad.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-701 .elementor-element.elementor-element-a3b5fad.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-701 .elementor-element.elementor-element-a3b5fad.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-701 .elementor-element.elementor-element-a3b5fad .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-701 .elementor-element.elementor-element-a3b5fad .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-701 .elementor-element.elementor-element-a3b5fad .elementor-image-box-title {
    margin-bottom: 0
}

.elementor-701 .elementor-element.elementor-element-a3b5fad .elementor-image-box-content .elementor-image-box-title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em
}

.elementor-701 .elementor-element.elementor-element-a3b5fad .elementor-image-box-content .elementor-image-box-description {
    color: #fff;
    font-size: 12px
}

.elementor-bc-flex-widget .elementor-701 .elementor-element.elementor-element-8082e19.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-8082e19.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-8082e19>.elementor-element-populated {
    padding: 0 15px
}

.elementor-701 .elementor-element.elementor-element-1f73b87.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-701 .elementor-element.elementor-element-1f73b87.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-701 .elementor-element.elementor-element-1f73b87.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-701 .elementor-element.elementor-element-1f73b87 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 26%
}

.elementor-701 .elementor-element.elementor-element-1f73b87 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-701 .elementor-element.elementor-element-1f73b87 .elementor-image-box-title {
    margin-bottom: 0
}

.elementor-701 .elementor-element.elementor-element-1f73b87 .elementor-image-box-content .elementor-image-box-title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em
}

.elementor-701 .elementor-element.elementor-element-1f73b87 .elementor-image-box-content .elementor-image-box-description {
    color: #fff;
    font-size: 12px
}

.elementor-bc-flex-widget .elementor-701 .elementor-element.elementor-element-e6b25af.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-e6b25af.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-e6b25af>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px
}

.elementor-701 .elementor-element.elementor-element-e6b25af>.elementor-element-populated {
    padding: 0 15px
}

.elementor-701 .elementor-element.elementor-element-24203fb.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-701 .elementor-element.elementor-element-24203fb.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-701 .elementor-element.elementor-element-24203fb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-701 .elementor-element.elementor-element-24203fb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 26%
}

.elementor-701 .elementor-element.elementor-element-24203fb .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-701 .elementor-element.elementor-element-24203fb .elementor-image-box-title {
    margin-bottom: 0
}

.elementor-701 .elementor-element.elementor-element-24203fb .elementor-image-box-content .elementor-image-box-title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em
}

.elementor-701 .elementor-element.elementor-element-24203fb .elementor-image-box-content .elementor-image-box-description {
    color: #fff;
    font-size: 12px
}

.elementor-bc-flex-widget .elementor-701 .elementor-element.elementor-element-949daca.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-949daca.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-701 .elementor-element.elementor-element-949daca>.elementor-element-populated {
    padding: 0 15px
}

.elementor-701 .elementor-element.elementor-element-e9556cb.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-701 .elementor-element.elementor-element-e9556cb.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-701 .elementor-element.elementor-element-e9556cb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-701 .elementor-element.elementor-element-e9556cb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 26%
}

.elementor-701 .elementor-element.elementor-element-e9556cb .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-701 .elementor-element.elementor-element-e9556cb .elementor-image-box-title {
    margin-bottom: 0
}

.elementor-701 .elementor-element.elementor-element-e9556cb .elementor-image-box-content .elementor-image-box-title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em
}

.elementor-701 .elementor-element.elementor-element-e9556cb .elementor-image-box-content .elementor-image-box-description {
    color: #fff;
    font-size: 12px
}

body.elementor-page-701 {
    padding: 0
}

@media(min-width:768px) {
    .elementor-701 .elementor-element.elementor-element-52ec525 {
        width: 40.019%
    }
    .elementor-701 .elementor-element.elementor-element-57c2b2d {
        width: 59.981%
    }
    .elementor-701 .elementor-element.elementor-element-1232116 {
        width: 47.411%
    }
    .elementor-701 .elementor-element.elementor-element-4414065 {
        width: 52.589%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-701 .elementor-element.elementor-element-ed22f3b {
        width: 50%
    }
    .elementor-701 .elementor-element.elementor-element-8082e19 {
        width: 50%
    }
    .elementor-701 .elementor-element.elementor-element-e6b25af {
        width: 50%
    }
    .elementor-701 .elementor-element.elementor-element-949daca {
        width: 50%
    }
}

@media(max-width:1024px) {
    .elementor-701 .elementor-element.elementor-element-235ab04 {
        padding: 0 10%
    }
    .elementor-701 .elementor-element.elementor-element-ed22f3b>.elementor-element-populated {
        padding: 10px
    }
    .elementor-701 .elementor-element.elementor-element-8082e19>.elementor-element-populated {
        padding: 10px
    }
    .elementor-701 .elementor-element.elementor-element-e6b25af>.elementor-element-populated {
        padding: 10px
    }
    .elementor-701 .elementor-element.elementor-element-949daca>.elementor-element-populated {
        padding: 10px
    }
}

@media(max-width:767px) {
    .elementor-701 .elementor-element.elementor-element-e34d45f:not(.elementor-motion-effects-element-type-background), .elementor-701 .elementor-element.elementor-element-e34d45f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: top center
    }
    .elementor-701 .elementor-element.elementor-element-e252305:not(.elementor-motion-effects-element-type-background), .elementor-701 .elementor-element.elementor-element-e252305>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: center center;
        background-size: 0px auto
    }
    .elementor-701 .elementor-element.elementor-element-bdc2adf .elementor-image-box-img {
        margin-bottom: 14px
    }
    .elementor-701 .elementor-element.elementor-element-2bd55c5 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-701 .elementor-element.elementor-element-a7ae9cb .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-701 .elementor-element.elementor-element-235ab04:not(.elementor-motion-effects-element-type-background), .elementor-701 .elementor-element.elementor-element-235ab04>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: 0px auto
    }
    .elementor-701 .elementor-element.elementor-element-235ab04 {
        margin-top: 0;
        margin-bottom: 0
    }
    .elementor-701 .elementor-element.elementor-element-ed22f3b {
        width: 100%
    }
    .elementor-701 .elementor-element.elementor-element-ed22f3b>.elementor-element-populated {
        margin: 0 0 25px;
        padding: 0 7px 0 0
    }
    .elementor-701 .elementor-element.elementor-element-a3b5fad .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-701 .elementor-element.elementor-element-a3b5fad>.elementor-widget-container {
        margin: 30px 0 0
    }
    .elementor-701 .elementor-element.elementor-element-8082e19 {
        width: 100%
    }
    .elementor-701 .elementor-element.elementor-element-8082e19>.elementor-element-populated {
        margin: 0 0 25px;
        padding: 0 0 0 7px
    }
    .elementor-701 .elementor-element.elementor-element-1f73b87 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-701 .elementor-element.elementor-element-e6b25af {
        width: 100%
    }
    .elementor-701 .elementor-element.elementor-element-e6b25af>.elementor-element-populated {
        margin: 0 0 30px;
        padding: 0 7px 0 0
    }
    .elementor-701 .elementor-element.elementor-element-24203fb .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-701 .elementor-element.elementor-element-949daca {
        width: 100%
    }
    .elementor-701 .elementor-element.elementor-element-949daca>.elementor-element-populated {
        padding: 0 0 0 7px
    }
    .elementor-701 .elementor-element.elementor-element-e9556cb .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-701 .elementor-element.elementor-element-e9556cb>.elementor-widget-container {
        margin: 0 0 30px
    }
}