.elementor-3032 .elementor-element.elementor-element-cf45a8d>.elementor-container {
    max-width: 1230px
}

.elementor-3032 .elementor-element.elementor-element-cf45a8d {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-3032 .elementor-element.elementor-element-7c152e4 .elementor-tab-title, .elementor-3032 .elementor-element.elementor-element-7c152e4 .elementor-tab-title:before, .elementor-3032 .elementor-element.elementor-element-7c152e4 .elementor-tab-title:after, .elementor-3032 .elementor-element.elementor-element-7c152e4 .elementor-tab-content, .elementor-3032 .elementor-element.elementor-element-7c152e4 .elementor-tabs-content-wrapper {
    border-width: 1px
}