.site-header h1.site-title {
    font-family: Rubik;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
    color: #ffffff;
}

#chromium-gallery {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.filters-wrapper li {
    color: #81858c;
    background-color: #fff;
}

    .filters-wrapper li:active, .filters-wrapper li:focus, .filters-wrapper li:hover {
        color: #212121;
        background-color: #fdb819;
    }

.site-header {
    background-image: url("../images/chromium_tires_header.jpg");
    background-color: #212121;
    background-repeat: repeat-all;
    background-position: center center;
    background-attachment: fixed;
    min-height: 500px;
    font-family: Rubik;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-top {
    background-color: #212121;
}

.header-top, .tz-login-heading.inline .my-account:after {
    color: #8b8b8b;
}

.primary-nav {
    background-color: rgba(253, 184, 25, 0);
}

.site-footer {
    background: #212121;
    background-color: #212121;
    background-repeat: repeat-all;
    background-position: center center;
    background-attachment: scroll;
    color: #9a9a9a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
}

.tz-product-tabs .nav-tabs > li > a:active, .tz-product-tabs .nav-tabs > li > a:focus, .tz-product-tabs .nav-tabs > li > a:hover, .tz-product-tabs .nav-tabs > li.active > a, .tz-sales-carousel .sale-title-wrapper span, body, ul#shipping_method .amount {
    color: #626262;
}

#ship-to-different-address, .author-info .author-bio, .blog article.type-post, .comments-area .comment, .comments-area .pingback, .elementor-widget .product_list_widget .price del, .form-row label, .quantity input[type=" number"], .shop_table.cart td.product-price, .site-breadcrumbs, .tz-categories-grid li:not(.show-all) a, .tz-from-blog .entry-excerpt, .tz-hoverable-tabs p a, .tz-login-form-wrapper p::after, .tz-product-tabs .nav-tabs > li > a, .tz-sales-carousel .countdown-section::before, .tz-sales-carousel .price-wrapper del, .tz-sales-carousel .sale-description, .widget .product_list_widget .price del, .widget_calendar, .widget_tz_shopping_cart .widget_shopping_cart_content .total strong, .widget_tz_shopping_cart ul.cart_list li a.remove, .woocommerce-Reviews .description, .woocommerce-checkout-review-order-table tbody tr, td.product-remove a, ul#shipping_method li input + label {
    color: #626262;
}

td.product-remove a {
    border-color: #626262;
}

.quantity .quantity-button:after, .quantity .quantity-button:before {
    background-color: #626262;
}

.blog-grid-posts article.type-post .post-date-wrapper span.border, .chromium-look-tires .hgroup-sidebar .widget_tz_shopping_cart .heading, .elementor-widget .product_list_widget .save-percent, .product .onsale, .product .onsale:before, .product .save-percent, .product.badges-style-3 .onsale, .site-header .compare-count-wrapper, .site-header .wishlist-count-wrapper, .site-sidebar.style-1 .widget .widget-title:after, .site-sidebar.style-1 .widget:not(.widget_tz_categories) .widget-title span:after, .tz-from-blog .item-content ul.post-categories a, .tz-like-wrapper .wrapper a:hover, .tz-product-tabs .nav-tabs > li > a::before, .tz-sales-carousel .countdown-section, .ui-slider-horizontal .ui-slider-range, .widget .product_list_widget .save-percent, .widget_categories ul li:before, .widget_archive ul li:before, .widget_pages ul li:before, .widget_rss ul li:before, .widget_nav_menu ul li:before, .widget_tz_categories.alt-style .widget-title, .widget_tz_socials ul.inline-mode li i:hover, article.type-post .custom-post-label, body:not(.chromium-look-tires) .elementor-widget-wp-widget-tz_woo_cart .heading .cart-count-wrapper, body:not(.chromium-look-tires) .widget_tz_shopping_cart .heading .cart-count-wrapper, figure.effect-sarah, ul.tabs.wc-tabs > li > a::before {
    background-color: #e94141;
}

    .button.tm-woocompare-button-single:before, .button.tm-woowishlist-button-single:before, .cart_totals tr.order-total td, .chromium-look-tires .hgroup-sidebar .widget_tz_shopping_cart .heading .cart-count-wrapper, .chromium-look-tools .tz-login-heading .logged-in-as span, .chromium-product-style-3 li.product:hover .button.add_to_cart_button::before, .chromium-product-style-3 li.product:hover .button.ajax_add_to_cart::before, .chromium-product-style-4 li.product:hover .button.add_to_cart_button::before, .chromium-product-style-4 li.product:hover .button.ajax_add_to_cart::before, .comment-form-rating p.stars a, .date-cat-wrapper span, .entry-summary .button.tm-woocompare-page-button:active, .entry-summary .button.tm-woocompare-page-button:focus, .entry-summary .button.tm-woocompare-page-button:hover, .entry-summary .button.tm-woowishlist-page-button:active, .entry-summary .button.tm-woowishlist-page-button:focus, .entry-summary .button.tm-woowishlist-page-button:hover, .post-date-wrapper span:not(.border), .price ins .woocommerce-Price-amount, .tz-sales-carousel .amount, .tz-sales-carousel .countdown-wrapper.style-2 .countdown-amount, .tz-sales-carousel .sale-title-wrapper, .wc-layered-nav-rating .star-rating span::before, .widget_layered_nav_filters ul li a:before, .widget_tz_hot_offers .countdown-amount, .woocommerce-checkout-review-order-table .order-total td, article.format-quote .quote-wrapper i::before, blockquote:before, td.product-remove a:active, td.product-remove a:focus, td.product-remove a:hover {
        color: #e94141;
    }

    .home-hero-search.elementor-widget-tabs .elementor-tab-title.elementor-active, .product .onsale:before, .tz-product-tabs .tab-nav-wrapper .nav-tabs > li > a::after, .widget_tz_categories.alt-style, td.product-remove a:active, td.product-remove a:focus, td.product-remove a:hover {
        border-color: #e94141;
    }

.chromium-product-style-2 li.product .buttons-wrapper .button, .entry-summary .button.tm-woocompare-page-button, .entry-summary .button.tm-woowishlist-page-button, .product .star-rating span:before, .product-shares-wrapper .tz-social-links .wrapper a:hover, .product-shares-wrapper .tz-social-links .wrapper a:hover i::before, .product_list_widget .star-rating span::before, .related-posts .date, .tab-content-grid a:active, .tab-content-grid a:focus, .tab-content-grid a:hover, .tab-content-grid ul li:first-child a:active, .tab-content-grid ul li:first-child a:focus, .tab-content-grid ul li:first-child a:hover, .tz-from-blog .time-wrapper, article.type-post .entry-date, ul.posts-list .post-date {
    color: #e94141;
}

.search .search-excerpt, .widget_layered_nav li.chosen a:before {
    background-color: #e94141;
}

.widget_layered_nav li.chosen a:before {
    border-color: #e94141;
}

.button.tm-woocompare-button-single, .button.tm-woowishlist-button-single, .nav-links span i:before, .show-all a:active, .show-all a:focus, .show-all a:hover, .show-all a:hover i:before, .site-sidebar .widget_calendar a, .widget.widget_tz_categories.alt-style a, a {
    color: #212121;
}

    article.type-post .grid-wrapper .post-tags a:active, article.type-post .grid-wrapper .post-tags a:focus, article.type-post .grid-wrapper .post-tags a:hover, .blog-style-2 article.type-post .post-cats a:active, .blog-style-2 article.type-post .post-cats a:focus, .blog-style-2 article.type-post .post-cats a:hover, .button.tm-woocompare-button-single:active, .button.tm-woocompare-button-single:focus, .button.tm-woocompare-button-single:hover, .button.tm-woowishlist-button-single:active, .button.tm-woowishlist-button-single:focus, .button.tm-woowishlist-button-single:hover, .comment-author a:active, .comment-author a:focus, .comment-author a:hover, .entry-title a:active, .entry-title a:focus, .entry-title a:hover, .nav-links span:hover i:before, .related-posts .related-categorie:active, .related-posts .related-categorie:focus, .related-posts .related-categorie:hover, .related-posts h3 a:active, .related-posts h3 a:focus, .related-posts h3 a:hover, .show-all a, .show-all a i:before, .site-sidebar .widget_calendar a:active, .site-sidebar .widget_calendar a:focus, .site-sidebar .widget_calendar a:hover, .tz-categories-grid li:not(.show-all) a:active, .tz-categories-grid li:not(.show-all) a:focus, .tz-categories-grid li:not(.show-all) a:hover, .tz-hoverable-tabs p a:active, .tz-hoverable-tabs p a:focus, .tz-hoverable-tabs p a:hover, .widget.widget_tz_categories.alt-style a:active, .widget.widget_tz_categories.alt-style a:focus, .widget.widget_tz_categories.alt-style a:hover, a:active, a:focus, a:hover {
        color: #e94141;
    }

.site-sidebar a, .woocommerce-MyAccount-navigation a {
    color: #626262;
}

    .site-sidebar .comment-author-link a:active, .site-sidebar .comment-author-link a:focus, .site-sidebar .comment-author-link a:hover, .site-sidebar .current-cat a, .site-sidebar a:active, .site-sidebar a:focus, .site-sidebar a:hover, .woocommerce-MyAccount-navigation a:active, .woocommerce-MyAccount-navigation a:focus, .woocommerce-MyAccount-navigation a:hover {
        color: #e94141;
    }

.elementor-header-top a, .header-top a {
    color: #81858c;
}

    .header-top .tz-login-heading.inline a.login-button:active, .header-top .tz-login-heading.inline a.login-button:focus, .header-top .tz-login-heading.inline a.login-button:hover, .header-top a:active, .header-top a:focus, .header-top a:hover, .tz-login-heading.inline a.my-account:active, .tz-login-heading.inline a.my-account:focus, .tz-login-heading.inline a.my-account:hover {
        color: #e94141;
    }

.site-footer a {
    color: #9a9a9a;
}

    .site-footer a:active, .site-footer a:focus, .site-footer a:hover {
        color: #e94141;
    }

.site-header .widget-heading, .site-header h1, .site-header h2, .site-header h3, .site-header h4, .site-header h5, .site-header h6 {
    color: #626262;
}

.product .price, .product-shares-wrapper .tz-social-links .heading, .single-label span, .site-content h1, .site-content h2, .site-content h3, .site-content h4, .site-content h5, .site-content h6, .site-sidebar .comment-author-link, .site-sidebar .comment-author-link a, blockquote, div.product .price {
    color: #000000;
}

.site-sidebar h1, .site-sidebar h1 a, .site-sidebar h2, .site-sidebar h2 a, .site-sidebar h3, .site-sidebar h3 a, .site-sidebar h4, .site-sidebar h4 a, .site-sidebar h5, .site-sidebar h5 a, .site-sidebar h6, .site-sidebar h6 a {
    color: #000000;
}

.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6 {
    color: #ffffff;
}

#comments, #reviews ol.commentlist, .ajax-auth .botom-links, .author-info h3, .blog.blog-grid-posts .meta-counters, .cart_totals h2, .comment .child-comments, .cross-sells h2, .elementor-widget h5, .elementor-widget-wp-widget-tz_woo_cart .widget_shopping_cart_content, .elementor-widget-wp-widget-tz_woo_cart .widget_shopping_cart_content .total, .post-date-wrapper .border, .post-navigation .nav-links, .primary-nav, .product-classic-style div.product .product-shares-wrapper, .site-header .tm-woocompare-widget-products, .site-header .tm-woowishlist-widget-products, .site-sidebar.style-1 .widget .screen-reader-text + .select-wrapper, .site-sidebar.style-1 .widget .widget-title + *, .tz-categories-grid.with-slider .title-wrapper, .tz-from-blog.style-2 .title-wrapper, .tz-hoverable-tabs ul.nav li, .tz-login-form-wrapper, .tz-login-form-wrapper .heading, .tz-product-tabs .tab-nav-wrapper, .widget .widget-title, .widget.widget_tz_categories.alt-style ul li, .widget_layered_nav ul li a:before, .widget_layered_nav_filters ul li a:before, .widget_price_filter .from, .widget_price_filter .to, .widget_tz_shopping_cart .mini-cart-heading, .widget_tz_shopping_cart .widget_shopping_cart_content, .widget_tz_shopping_cart .widget_shopping_cart_content .total, .widget_tz_shopping_cart ul.cart_list li a.remove, .woocommerce-MyAccount-navigation, .woocommerce-MyAccount-navigation ul li, .woocommerce-checkout h2, .woocommerce-checkout-review-order-table .img, article.type-post .post-cats, article.type-post .post-tags, figure.gallery-item:hover img, form.ajax-auth, table, table td, table th, table.order_details, table.order_details td, table.order_details th, ul.tabs.wc-tabs > li > a {
    border-color: #ebebeb;
}

.owl-carousel .owl-nav div + div::before, .tab-pane .slider-navi span + span::before, .title-wrapper .slider-navi span + span::before, .widget_tz_login_register + .widget:before, article.type-post .post-date-wrapper::after, article.type-post .post-date-wrapper::before, hr {
    background-color: #ebebeb;
}

.product .star-rating:before, .product_list_widget .star-rating::before, .tz-hoverable-tabs i.icon:before, .tz-testimonials .star-rating:before, .wc-layered-nav-rating .star-rating::before {
    color: #ebebeb;
}

.chromium-product-style-2 li.product .button::before, .chromium-product-style-3 li.product .button::before, .chromium-product-style-4 li.product .button::before, .meta-counters, .product .reviews-wrapper, .product-images-wrapper .woocommerce-product-gallery__trigger, .product-shares-wrapper .tz-social-links .wrapper a, .product-shares-wrapper .tz-social-links .wrapper a i::before, .quote-wrapper i::before, .related-posts .related-categorie, .tz-from-blog .post-views, .tz-from-blog.style-2 .item-content a.post-cat-link, .widget_archive .count, .widget_categories .count, .widget_search .search-form::before, .widget_tz_categories .count, article.type-post .time-wrapper i {
    color: #cacaca;
}

.product-images-wrapper .woocommerce-product-gallery__trigger {
    border-color: #cacaca;
}

.button, button, input, textarea {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
}

.button, .select2-container--default .select2-selection--single, .select2-dropdown, button, input, textarea {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

    input[type=" color"], input[type=" date"], input[type=" datetime"], input[type=" datetime-local"], input[type="email"], input[type="month"], input[type=" number"], input[type="password"], input[type=" range"], input[type=" search"], input[type=" tel"], input[type=" text"], input[type=" time"], input[type="url"], input[type="week"], textarea {
        color: #9eadb6;
        background-color: #ffffff;
    }

    .product-pager::before, .select-wrapper::before, .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-selection--single, .select2-dropdown, .woocommerce-ordering::before, input[type=" color"], input[type=" date"], input[type=" datetime"], input[type=" datetime-local"], input[type="email"], input[type="month"], input[type=" number"], input[type="password"], input[type=" range"], input[type=" search"], input[type=" tel"], input[type=" text"], input[type=" time"], input[type="url"], input[type="week"], select, textarea {
        border-color: #dbdbdb;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow:before {
            background-color: #dbdbdb;
        }

    .button, .logo-group-nav .menu a, .primary-nav .menu a, .primary-nav .nav-menu a, button, html input[type="button"], input[type=" reset"], input[type=" submit"] {
        color: #ffffff;
    }

        .button:active, .button:focus, .button:hover, .logo-group-nav .current-menu-item a, .logo-group-nav .menu > li > a:active, .logo-group-nav .menu > li > a:focus, .logo-group-nav .menu > li > a:hover, .primary-nav .current-menu-item a, .primary-nav .menu > li > a:focus, .primary-nav .menu > li > a:hover, .primary-nav .nav-menu > li > a:hover, .primary-nav > li > .menu a:active, button:active, button:focus, button:hover, html input[type="button"]:active, html input[type="button"]:focus, html input[type="button"]:hover, input[type=" reset"]:active, input[type=" reset"]:focus, input[type=" reset"]:hover, input[type=" submit"]:active, input[type=" submit"]:focus, input[type=" submit"]:hover {
            color: #fff;
        }

    .button, .chromium-look-tires .tz-categories-menu ul li:before, .logo-group-nav .menu a, .primary-nav .menu a, button, html input[type="button"], input[type=" reset"], input[type=" submit"] {
        background-color: #e94141;
    }

        .button:active, .button:focus, .button:hover, .logo-group-nav .current-menu-item a, .logo-group-nav .menu > li > a:active, .logo-group-nav .menu > li > a:focus, .logo-group-nav .menu > li > a:hover, .logo-group-nav .nav-menu > li > a:hover, .primary-nav .current-menu-item a, .primary-nav .menu > li > a:active, .primary-nav .menu > li > a:focus, .primary-nav .menu > li > a:hover, .primary-nav .nav-menu > li > a:active, .primary-nav .nav-menu > li > a:focus, .primary-nav .nav-menu > li > a:hover, button:active, button:focus, button:hover, html input[type="button"]:active, html input[type="button"]:focus, html input[type="button"]:hover, input[type=" reset"]:active, input[type=" reset"]:focus, input[type=" reset"]:hover, input[type=" submit"]:active, input[type=" submit"]:focus, input[type=" submit"]:hover {
            background-color: #212121;
        }

.primary-alt-btn .button, .primary-alt-btn button, .primary-alt-btn input[type=" reset"], .primary-alt-btn input[type=" submit"], .primary-alt-btn.button, .widget_mailchimpsf_widget .mc_signup_submit, figure.tz-banner .banner-button, html .primary-alt-btn input[type="button"] {
    color: #ffffff;
    background-color: #e94141;
}

    .primary-alt-btn .button:active, .primary-alt-btn .button:focus, .primary-alt-btn .button:hover, .primary-alt-btn button:active, .primary-alt-btn button:focus, .primary-alt-btn button:hover, .primary-alt-btn input[type=" reset"]:active, .primary-alt-btn input[type=" reset"]:focus, .primary-alt-btn input[type=" reset"]:hover, .primary-alt-btn input[type=" submit"]:active, .primary-alt-btn input[type=" submit"]:focus, .primary-alt-btn input[type=" submit"]:hover, .primary-alt-btn.button:active, .primary-alt-btn.button:focus, .primary-alt-btn.button:hover, .primary-alt-btn:hover .tz-banner .button, .widget_mailchimpsf_widget .mc_signup_submit:active, .widget_mailchimpsf_widget .mc_signup_submit:focus, .widget_mailchimpsf_widget .mc_signup_submit:hover, figure.tz-banner .banner-button:active, figure.tz-banner .banner-button:hover, html .primary-alt-btn input[type="button"]:active, html .primary-alt-btn input[type="button"]:focus, html .primary-alt-btn input[type="button"]:hover {
        color: #ffffff;
        background-color: #212121;
    }

.button.alt, .button.empty-cart, .checkout-button.button, .checkout.button, .link-to-post.button, .single article.type-post .post-tags a, li.product .buttons-wrapper .button, li.product .excerpt-wrapper .button {
    color: #ffffff;
    background-color: #212121;
}

    .button.alt:active, .button.alt:focus, .button.alt:hover, .button.empty-cart:active, .button.empty-cart:focus, .button.empty-cart:hover, .checkout-button.button:active, .checkout-button.button:focus, .checkout-button.button:hover, .checkout.button:active, .checkout.button:focus, .checkout.button:hover, .link-to-post.button:active, .link-to-post.button:focus, .link-to-post.button:hover, .single article.type-post .post-tags a:active, .single article.type-post .post-tags a:focus, .single article.type-post .post-tags a:hover, li.product .buttons-wrapper .button:active, li.product .buttons-wrapper .button:focus, li.product .buttons-wrapper .button:hover, li.product .excerpt-wrapper .button:active, li.product .excerpt-wrapper .button:focus, li.product .excerpt-wrapper .button:hover {
        color: #ffffff;
        background-color: #e94141;
    }

.secondary-alt-btn .button, .secondary-alt-btn button, .secondary-alt-btn input[type=" reset"], .secondary-alt-btn input[type=" submit"], .secondary-alt-btn.button, .site .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit, html .secondary-alt-btn input[type="button"] {
    color: #ffffff;
    background-color: #e94141;
}

    .secondary-alt-btn .button:active, .secondary-alt-btn .button:focus, .secondary-alt-btn .button:hover, .secondary-alt-btn button:active, .secondary-alt-btn button:focus, .secondary-alt-btn button:hover, .secondary-alt-btn input[type=" reset"]:active, .secondary-alt-btn input[type=" reset"]:focus, .secondary-alt-btn input[type=" reset"]:hover, .secondary-alt-btn input[type=" submit"]:active, .secondary-alt-btn input[type=" submit"]:focus, .secondary-alt-btn input[type=" submit"]:hover, .secondary-alt-btn.button:active, .secondary-alt-btn.button:focus, .secondary-alt-btn.button:hover, .secondary-alt-btn:hover .tz-banner .button, .site .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:active, .site .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:focus, .site .dgwt-wcas-search-wrapp .dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:hover, html .secondary-alt-btn input[type="button"]:active, html .secondary-alt-btn input[type="button"]:focus, html .secondary-alt-btn input[type="button"]:hover {
        color: #fff;
        background-color: #3a3a3a;
    }
/* cyrillic-ext */

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/cyrillic-ext_rubik.woff") format("woff");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/cyrillic_rubik.woff") format("woff");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/hebrew_rubik.woff") format("woff");
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/latin-ext.woff") format("woff");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/latin_rubik.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.owl-item li.product.type-product.status-publish {
    float: left;
}


.women-product {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0 50px 0;
}


