<connectionStrings>
	<clear />
	<add name="AnThanhLamConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.; Initial Catalog=AnThanhLam; Integrated Security=False;uid=atl; password=quy123; MultipleActiveResultSets=True" />
  <!--<add name="AnThanhLamConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:anthanhlam.database.windows.net,1433;Initial Catalog=anthanhlam;Persist Security Info=False;User ID=alt;Password=quy123456@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
  
</connectionStrings>