@model AnThanhLam.Web.Models.HomeViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";

}
@section footerJs{
    <script src="/Assets/client/js/jquery.wmuSlider.js"></script>
    <script>
        $('.example1').wmuSlider();
    </script>
}
<main class="site-content" role="main" itemscope="itemscope" itemprop="mainContentOfPage">
    <article id="post-701" class="post-701 page type-page status-publish hentry">
        <div class="entry-content">
            <div data-elementor-type="wp-post" data-elementor-id="701" class="elementor elementor-701" data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        @{Html.RenderAction("GetProductCategoryHome", "Product");}
                        @{Html.RenderAction("HomeProduct", "Product");}
                    </div>
                </div>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-e34d45f elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="e34d45f" data-element_type="section" data-settings='{"background_background":" classic"," stretch_section":" section-stretched"}' style="width: 1519px; left: -173.6px">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1574f3d" data-id="1574f3d" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-6e27a13 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6e27a13" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-52ec525" data-id="52ec525" data-element_type="column">
                                                        <div class="elementor-column-wrap">
                                                            <div class="elementor-widget-wrap"></div>
                                                        </div>
                                                    </div>
                                                    @{ Html.RenderAction("GetAboutPage", "Page");}
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                @{Html.RenderAction("PartnerHome", "Home");}
                <section style="display:none" class="elementor-section elementor-top-section elementor-element elementor-element-b5452eb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b5452eb" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-eec89cc" data-id="eec89cc" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-f261e55 elementor-widget elementor-widget-heading" data-id="f261e55" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h3 class="elementor-heading-title elementor-size-default">
                                                    HOW IT <span>WORKS</span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section style="display:none" class="elementor-section elementor-top-section elementor-element elementor-element-fc4b3bd elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fc4b3bd" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-29646c8" data-id="29646c8" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-dc158e1 elementor-widget elementor-widget-tz-banner" data-id="dc158e1" data-element_type="widget" data-widget_type="tz-banner.default">
                                            <div class="elementor-widget-container">
                                                <figure class="tz-banner effect-without-hover tz-banner-button-style-default">
                                                    <img width="2339" height="549" src="~/Assets/client/images/tire_banner-1.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="~/Assets/client/images/tire_banner-1.jpg 2339w, , ~/Assets/client/images/tire_banner-1-300x70.jpg 300w, , ~/Assets/client/images/tire_banner-1-768x180.jpg 768w, , ~/Assets/client/images/tire_banner-1-1024x240.jpg 1024w, , ~/Assets/client/images/tire_banner-1-600x141.jpg 600w, , ~/Assets/client/images/tire_banner-1-64x15.jpg 64w" sizes="(max-width: 2339px) 100vw, 2339px" />
                                                    <figcaption>
                                                        <div class="main-caption">
                                                            <h4 style="color: #fff; font-size: 40px; font-weight: 500; line-height: 30px;"> Save up to $100 </h4>
                                                            <div style="line-height: 1em; color: #fff; font-size: 40px; font-weight: 300;"> on a Set of 4 Tires </div>
                                                        </div>
                                                        <div class="secondary-caption">
                                                            <p style="color: #fff"> Buy 4 Pirelli tires and save $100 instantly </p>
                                                        </div>
                                                        <a class="banner-button">SHOP NOW</a>
                                                    </figcaption>
                                                    <a href="http:">
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                @{Html.RenderAction("PostHome", "Post");}
                <section class="elementor-section elementor-top-section elementor-element elementor-element-235ab04 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="235ab04" data-element_type="section" data-settings='{"background_background":" classic"}'>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-ed22f3b" data-id="ed22f3b" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-a3b5fad elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="a3b5fad" data-element_type="widget" data-widget_type="image-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image-box-wrapper">
                                                    <figure class="elementor-image-box-img">
                                                        <img width="92" height="92" src="~/Assets/client/images/tiny_logo1.png" class="elementor-animation-grow attachment-full size-full" alt="" loading="lazy" srcset="~/Assets/client/images/tiny_logo1.png 92w, ~/Assets/client/images/tiny_logo1-64x64.png 64w" sizes="(max-width: 92px) 100vw, 92px" />
                                                    </figure>
                                                    <div class="elementor-image-box-content">
                                                        <h3 class="elementor-image-box-title"> Miễn phí vận chuyển </h3>
                                                        <p class="elementor-image-box-description">Toàn quốc chỉ từ ... </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-8082e19" data-id="8082e19" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-1f73b87 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="1f73b87" data-element_type="widget" data-widget_type="image-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image-box-wrapper">
                                                    <figure class="elementor-image-box-img">
                                                        <img width="93" height="92" src="~/Assets/client/images/tiny_logo2.png" class="elementor-animation-grow attachment-full size-full" alt="" loading="lazy" srcset="~/Assets/client/images/tiny_logo2.png 93w, ~/Assets/client/images/tiny_logo2-64x63.png 64w" sizes="(max-width: 93px) 100vw, 93px" />
                                                    </figure>
                                                    <div class="elementor-image-box-content">
                                                        <h3 class="elementor-image-box-title"> Dễ dàng đổi trả </h3>
                                                        <p class="elementor-image-box-description"> 365 ngày đổi trả </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-e6b25af" data-id="e6b25af" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-24203fb elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="24203fb" data-element_type="widget" data-widget_type="image-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image-box-wrapper">
                                                    <figure class="elementor-image-box-img">
                                                        <img width="92" height="92" src="~/Assets/client/images/tiny_logo3.png" class="elementor-animation-grow attachment-full size-full" alt="" loading="lazy" srcset="~/Assets/client/images/tiny_logo3.png 92w, client/tiny_logo3-64x64.png 64w" sizes="(max-width: 92px) 100vw, 92px" />
                                                    </figure>
                                                    <div class="elementor-image-box-content">
                                                        <h3 class="elementor-image-box-title"> Thanh toán dễ dàng </h3>
                                                        <p class="elementor-image-box-description"> Thanh toán qua credit card </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-949daca" data-id="949daca" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-e9556cb elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="e9556cb" data-element_type="widget" data-widget_type="image-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image-box-wrapper">
                                                    <figure class="elementor-image-box-img">
                                                        <img width="92" height="92" src="~/Assets/client/images/tiny_logo4.png" class="elementor-animation-grow attachment-full size-full" alt="" loading="lazy" srcset="~/Assets/client/images/tiny_logo4.png 92w, ~/Assets/client/images/tiny_logo4-64x64.png 64w" sizes="(max-width: 92px) 100vw, 92px" />
                                                    </figure>
                                                    <div class="elementor-image-box-content">
                                                        <h3 class="elementor-image-box-title"> Nhiều quà tặng </h3>
                                                        <p class="elementor-image-box-description"> Quà tặng và giảm giá </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

       