<div class="front-page-shortcode">
    <div data-elementor-type="section" data-elementor-id="3032" class="elementor elementor-3032" data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-cf45a8d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cf45a8d" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9126c0a" data-id="9126c0a" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-7c152e4 home-hero-search elementor-tabs-view-horizontal elementor-widget elementor-widget-tabs" data-id="7c152e4" data-element_type="widget" data-widget_type="tabs.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-tabs">
                                                    <div class="elementor-tabs-wrapper" role="tablist">
                                                        <div id="elementor-tab-title-1301" class="elementor-tab-title elementor-tab-desktop-title elementor-active" aria-selected="true" data-tab="1" role="tab" tabindex="0" aria-controls="elementor-tab-content-1301" aria-expanded="true">
                                                            <a href="#">
                                                                Tìm kiếm chi tiết
                                                            </a>
                                                        </div>                                                       
                                                    </div>
                                                    <div class="elementor-tabs-content-wrapper" role="tablist" aria-orientation="vertical">
                                                        <div class="elementor-tab-title elementor-tab-mobile-title elementor-active" aria-selected="true" data-tab="1" role="tab" tabindex="0" aria-controls="elementor-tab-content-1301" aria-expanded="true">
                                                            Tìm kiếm lốp xe
                                                        </div>
                                                        <div id="elementor-tab-content-1301" class="elementor-tab-content elementor-clearfix elementor-active" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1301" tabindex="0" style="display: block">
                                                            <p></p>
                                                            <form action="/Product/searchProduct" method="get">
                                                                <div class="woof woof_sid woof_sid_home_page" data-sid="home_page" data-shortcode="woof sid=&#39;home_page&#39; tax_only=&#39;tire_sizes&#39; autosubmit=&#39;1&#39; ajax_redraw=&#39;1&#39; is_ajax=&#39;1&#39;" data-redirect="" data-autosubmit="1" data-ajax-redraw="1">
                                                                    <a href="#" class="woof_edit_view" data-sid="home_page">Trợ giúp</a>
                                                                    <div></div>
                                                                    <div class="woof_redraw_zone" data-woof-ver="2.2.5.3">

                                                                        <div data-css-class="woof_container_tire_sizes" class="woof_container woof_container_select_hierarchy woof_container_tire_sizes woof_container_0 woof_container_selectwidthselectaspectratioselectdiametertiresizes">
                                                                            <div class="woof_container_overlay_item"></div>
                                                                            <div class="woof_container_inner woof_container_inner_selectwidthselectaspectratioselectdiametertiresizes">

                                                                                <div class="woof_block_html_items">
                                                                                    @{Html.RenderAction("GetAllBrand", "Product");}
                                                                                    @{Html.RenderAction("GetAllProductCategory", "Product");}
                                                                                    @{Html.RenderAction("GetAllSize", "Product");}
                                                                                </div>                                                                               
                                                                            </div>
                                                                        </div>
                                                                        <div class="woof_submit_search_form_container">
                                                                            <button style="float: left" type="submit" class="button woof_submit_search_form"> Tìm kiếm </button>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <p></p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
